extends ./layouts/main

block content
    form.form__container(action=`/users/${routes.editProfile}`, method="post")
            label(for="avatar") Avatar
            input(type="file", id="avatar", name="file")
            input(type="text", placeholder="Name", name="name")
            input(type="email", placeholder="Email", name="email")
            input(type="submit", value="Update Profile")
    a(href=`/users${routes.changePassword}`)
        h1 Change Password