extends ./layouts/main
include ./mixins/Video

block content
    each items in video
        +VideoBlock({
            id : items.id,
            videoFile : items.fileUrl,
            title : items.title,
            views : items.views,
            description : items.description
        })
