extends ./layouts/main

block content
    .search__header
        h2 Searching for #{searchingBy}
    .search__videos
        each items in videos
            +VideoBlock({
                videoFile : items.videoFile,
                title : items.title,
                views : items.views,
                description : items.description
            })    