extends ./layouts/main

block content
    form.form__container(action=`/videos${routes.upload}`, method="post",enctype="multipart/form-data")
            label(for="video") Video File
            input(type="file", id="video", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="title", name="title", required=true)
            textarea(name="description",required=true) Description
            input(type="submit", value="Update Profile")